@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Inter:400,200,300,500,600,700,800);

*{
    --title-font: "EB Garamond";
    --title-font-color: #404040;
    --body-font: "Inter";
    --body-font-size: 15px;
}

section{
    background: #f5f5f5;
}

#mainmenu{
    font-family: var(--body-font);
}

.de_testi.opt-2 blockquote{
    background: #ffffff !important;
}
